.tablist {
	border: 1px solid #212123;
	@apply flex items-center justify-start pl-5 gap-10 py-3 border-l-0 border-r-0;
}
.days {
	@apply flex items-center justify-start px-5 pt-2 gap-5 mb-5;
	.day {
		@apply p-2 px-4 w-32 rounded-md border-blue border;
		> span {
			@apply text-gray mb-1;
		}
		> p {
			@apply text-white border-none;
		}
	}
}
.btn {
	transition: all 0.5s ease;
	@apply mb-3 mx-auto px-14 py-2.5 rounded-xl max-w-[300px] text-center border-blue border flex items-center justify-center;
}
.btn:hover {
	@apply opacity-100;
}
.lesson {
	@apply relative mb-5 block;
	> img {
		@apply w-full object-cover max-h-[300px];
	}
	> p {
		@apply absolute bottom-8 left-8 text-6xl sm2:text-3xl sm2:left-4 sm2:bottom-4;
	}

	> button {
		@apply absolute bottom-8 right-8 text-2xl border-blue border px-5 py-1 rounded-lg sm2:px-2 sm:text-xl sm2:bottom-4 sm2:right-4;
	}
}

.video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background-color: rgba(#080a12, 0.85);
	transition: opacity 0.3s, visibility 0.3s;
	display: flex;
	justify-content: center;
}

.close {
	display: block;
	position: absolute;
	z-index: 2;
	top: 15px;
	left: 15px;

	color: #fff;
	opacity: 0.5;
	transition: all 0.3s ease;
	> svg {
		width: 30px;
		height: 30px;
	}
}
