.tablist {
  border: 1px solid #212123;
  @apply flex items-center justify-start pt-3 border-l-0 border-r-0 overflow-x-scroll;
  > div {
    border-bottom: 2px solid transparent;
    @apply cursor-pointer pb-3 px-3 min-w-[100px];
  }
}
.tablist::-webkit-scrollbar {
  display: none;
}
.days {
  @apply flex items-center justify-start p-5 gap-5 overflow-x-scroll;
  .day {
    @apply p-2 px-4 min-w-[195px] rounded-md border-gray border cursor-pointer relative select-none;
    > span {
      @apply text-gray mb-1 flex;
    }
    > p {
      @apply text-white border-none;
    }
    > svg {
      @apply absolute opacity-60 top-3 right-3;
    }
    .lock {
      @apply text-gray;
    }
  }
  .activeDay {
    @apply p-2 px-4 min-w-[195px] rounded-md border-blue border;
  }
}
.days::-webkit-scrollbar {
  display: none;
}

.activeTab {
  color: #0ccbcf;
  border-bottom: 2px solid #0ccbcf !important;
}
.btn {
  transition: all 0.5s ease;
  @apply mb-3 mx-auto px-14 py-2.5 rounded-xl max-w-[280px] h-[46px] w-full text-center border-blue border flex items-center justify-center mt-5;
}

.lesson {
  @apply relative block;
  > img {
    @apply w-full object-cover max-h-[300px];
  }

  > p {
    @apply absolute bottom-8 left-5 max-w-[70%] text-3xl sm15:text-xl sm15:left-4 sm2:bottom-4;
  }

  > button {
    @apply absolute bottom-8 right-5 text-2xl border-blue border px-5 py-1 rounded-lg sm15:px-1 sm:text-lg sm15:bottom-4 sm15:right-4;
  }
}
.lessonLock {
  transform: translateX(-50%);
  @apply text-center absolute left-1/2;
  > span {
    @apply text-gray;
  }
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(#080a12, 0.85);
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  justify-content: center;
}

.text {
  @apply text-center text-gray text-2xl mt-5;
}
.containerLoaderWeeks {
  @apply w-full flex;

  .skeletonLoaderWeeks {
    @apply relative h-[38px] w-[67px] mx-5 mb-3;
  }
}

.containerLoaderDays {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  overflow-x: scroll;
  .skeletonLoaderDays {
    @apply relative h-[70px] min-w-[120px];
  }
}
.containerLoaderDays::-webkit-scrollbar {
  display: none;
}

.containerLoaderLessons {
  @apply flex flex-col w-full;
  .skeletonLoaderLessons {
    @apply relative h-[250px] min-w-[120px];
  }
}
